@tailwind base;
@tailwind components;
@tailwind utilities;

/* Перенеси сюда всё из тега <style> своего App.jsx */
.custom-scrollbar::-webkit-scrollbar { 
    width: 3px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #222; 
    border-radius: 10px; 
}

@keyframes shrink-width { 
    from { width: 100%; } 
    to { width: 0%; } 
}

.animate-shrink-width { 
    animation: shrink-width 10s linear forwards; 
}
